* {
    font-family: serif;    
    
}
h1 {
    color: black;
    font-weight: bold;
    font-family: "Cedarville Cursive";
    text-align: center;
    
}

body {
    background-image: url("./output.jpg");
}

p,
li {
    font-size: 18px;
    
}

a {
   color: white; 
}